Source: fontconfig
Section: fonts
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian freedesktop.org maintainers <pkg-freedesktop-maintainers@lists.alioth.debian.org>
XSBC-Pexip-Original-Uploaders: Keith Packard <keithp@debian.org>,
           Josselin Mouette <joss@debian.org>,
           Emilio Pozuelo Monfort <pochu@debian.org>,
Build-Depends: debhelper (>= 11),
               libfreetype6-dev (>= 2.8.1),
               libexpat1-dev,
               uuid-dev,
               pkg-config,
               gperf,
               po-debconf,
               docbook <!nodoc>,
               docbook-utils <!nodoc>,
               texlive-formats-extra <!nodoc>
Standards-Version: 4.2.1
Vcs-Git: https://salsa.debian.org/freedesktop-team/fontconfig.git
Vcs-Browser: https://salsa.debian.org/freedesktop-team/fontconfig
Homepage: https://www.freedesktop.org/wiki/Software/fontconfig/
XS-Pexip-Upstream: http://deb.debian.org/debian/ bullseye

Package: fontconfig
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fontconfig-config
Multi-Arch: foreign
Description: generic font configuration library - support binaries
 Fontconfig is a font configuration and customization library, which
 does not depend on the X Window System. It is designed to locate
 fonts within the system and select them according to requirements
 specified by applications.
 .
 Fontconfig is not a rasterization library, nor does it impose a
 particular rasterization library on the application. The X-specific
 library 'Xft' uses fontconfig along with freetype to specify and
 rasterize fonts.
 .
 This package contains a program to maintain the fontconfig cache
 (fc-cache), a sample program to list installed fonts (fc-list), a program
 to test the matching rules (fc-match) and a program to dump the binary
 cache files in string form (fc-cat). It no longer makes fonts managed by defoma
 available to fontconfig applications.

Package: fontconfig-config
Architecture: all
Depends: ${misc:Depends},
         ucf (>= 0.29),
         fonts-dejavu-core | ttf-bitstream-vera | fonts-liberation | fonts-freefont
Multi-Arch: foreign
Breaks: libfontconfig1 (<< 2.13.0)
Description: generic font configuration library - configuration
 Fontconfig is a font configuration and customization library, which
 does not depend on the X Window System. It is designed to locate
 fonts within the system and select them according to requirements
 specified by applications.
 .
 This package contains the configuration files and scripts for fontconfig.

Package: fontconfig-udeb
Section: debian-installer
Package-Type: udeb
Architecture: any
Depends: ${shlibs:Depends}
Description: generic font configuration library - minimal runtime
 Fontconfig is a font configuration and customization library, which
 does not depend on the X Window System. It is designed to locate
 fonts within the system and select them according to requirements
 specified by applications.
 .
 This package contains the minimal runtime library and configuration,
 only for use in the installation system.

Package: libfontconfig1-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libfontconfig1 (= ${binary:Version}),
         ${misc:Depends},
         libexpat1-dev,
         libfreetype6-dev (>= 2.8.1),
         uuid-dev,
         pkg-config
Provides: libfontconfig-dev
Description: generic font configuration library - development
 Fontconfig is a font configuration and customization library, which
 does not depend on the X Window System. It is designed to locate
 fonts within the system and select them according to requirements
 specified by applications.
 .
 This package contains the static libraries and headers needed for the
 development of applications using fontconfig.

Package: libfontconfig1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, fontconfig-config (>= ${source:Version})
Breaks: xpdf (<= 3.03-11)
Provides: libfontconfig
Description: generic font configuration library - runtime
 Fontconfig is a font configuration and customization library, which
 does not depend on the X Window System. It is designed to locate
 fonts within the system and select them according to requirements
 specified by applications.
 .
 This package contains the runtime library needed to launch applications
 using fontconfig.
